<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>4th Umpire a Beauty Category Bootstrap Responsive website Template | Home :: w3layouts</title>
	<!-- Meta Tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="4th Umpire Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta Tags -->
	<!-- Style Sheets -->



	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!--// Bootstrap-CSS -->
	<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
	<!--// Font-Awesome-CSS -->
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" property="" />
	<!--// Owl-Carousel-CSS -->
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!--// Owl-Carousel-CSS -->


    <!--<link href="css/style.css" rel="stylesheet" type="text/css" media="all" /> -->


	<!-- //Style Sheets -->
	<!-- web-fonts -->
	<link href="//fonts.googleapis.com/css?family=Khula:300,400,600,700,800" rel="stylesheet" />
	<link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet" />
	<!--// web-fonts -->

	<style>
	.col-container {
		display: table; /* Make the container element behave like a table */
		width: 100%; /* Set full-width to expand the whole page */
	}

	.xyz{
  		display: block;
	}

	.col {
		display: table-cell; /* Make elements inside the container behave like table cells */
	}
	</style>
</head>

<body>
	<!-- banner -->
	<div class="banner jarallax" id="home">
		<header>
			<div class="container">
				<div class="header-bottom-agileits">
					<div class="w3-logo">
						<h1><a href="{% url 'main2' %}">4th Umpire</a></h1>
					</div>
					<div class="address">
						<p>IIT Kanpur</p>
						<p class="para-y"><a href="{% url 'about' %}">Get more info</a></p>
					</div>
					<div class="nav-contact-w3ls">
						<p>+91 99788 44846<span class="fa fa-phone" aria-hidden="true"></span></p>
						<p class="para-y"><a href="mailto:devanshu@iitk.ac.in">devanshu@iitk.ac.in</a><span class="fa fa-envelope-o" aria-hidden="true"></span></p>
                        <!-- <p class="para-y"><a href="mailto:akashish@iitk.ac.in">akashish@iitk.ac.in</a><span class="fa fa-envelope-o" aria-hidden="true"></span></p> -->
                        <!-- <p class="para-y"><a href="mailto:rjkunal@iitk.ac.in">rjkunal@iitk.ac.in</a><span class="fa fa-envelope-o" aria-hidden="true"></span></p> -->
                                            </div>
					<div class="clearfix"></div>
				</div>
			</div>
		</header>
		<!-- navigation -->
		<div class="nav-bg">
			<div class="container">
				<nav class="navbar navbar-default shift">
					 <!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
						    aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					  </button>

				  </div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li><a class="active" href="{% url 'main2' %}">Home</a></li>
							<li><a href="{% url 'about' %}">About</a></li>
							<li><a href='#serve'>Predictions</a></li>
							<!--<li class="dropdown">
									<a href="#" class="dropdown-toggle effect-3" data-toggle="dropdown">Pages<b class="caret"></b></a>
									<ul class="dropdown-menu agile_short_dropdown">
										<li><a href="{% url 'icons' %}">Web Icons</a></li>
										<li><a href="{% url 'typography' %}">Typography</a></li>
									</ul>
								</li>-->
							<li><a href="{% url 'gallery' %}">Gallery</a></li>
							<li><a href="{% url 'contact' %}">Contact</a></li>
						</ul>

					</div>
					<!-- /.navbar-collapse -->

				</nav>
			</div>
		</div>
	<!-- //navigation -->
		<div class="container">
			<!-- header -->
			<!-- //header -->
			<div class="agileits_w3layouts_banner_info">
				<section class="slider">
						<div class="flexslider">
							<ul class="slides">
								<li>
									<div class="banner-text-w3-agileits">
										<h5>IPL 2018 </h5>
										<h2>Enjoy Prediction Services</h2>
										<p>based on machine learning and AI.</p>
										<div class="botton">
											<a href='#serve'>Start Predicting Now</a>
										</div>
									</div>
								</li>
								<li>
									<div class="banner-text-w3-agileits">
										<h5>The best and fastest service</h5>
										<h2>Are You Excited to Cheer Your Team?</h2>
										<p>Predict if your team will win today!</p>
										<div class="botton">
											<a href='#serve'>Start Predicting Now</a>
										</div>
									</div>
								</li>
								<li>
									<div class="banner-text-w3-agileits">
										<h5>Using State of Art Algorithms </h5>
										<h2>Know the score and result before the starting of the match</h2>
										<p>Make near-accurate predictions of your favourite team's performance</p>
										<div class="botton">
											<a href='#serve'>Start Predicting Now</a>
										</div>
									</div>
								</li>
							</ul>
						</div>
				</section>
			</div>
		</div>
	</div>
	<!-- //banner -->


	<!-- Modal1 -->
	<div class="modal fade" id="myModal4" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4>4th Umpire</h4>
					<img src="{% static 'images/11.jpeg' %}" alt=" " class="img-responsive">
					<h5>Neque porro quisquam est qui dolorem </h5>
					<p>Ut in ligula sollicitudin, auctor elit vel, mollis tortor. Nullam id magna in eros mollis porttitor vel et eros.Phasellus
						sed iaculis nibh, non suscipit tortor. Aenean ante massa, lobortis et dolor eget, sollicitudin luctus arcu. Donec eros
						tortor, ultrices in lectus quis, aliquet commodo lectus.Donec eros tortor, ultrices in lectus quis, aliquet commodo
						lectus.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- //Modal1 -->
	<!-- Latest News -->
	<div class="practice-areas">
		<div class="container">
			<div class="wthree_head_section">
				<a id='serve'><h3 class="w3l_header">Our <span>PREDICTIONS</span></h3>
				<p>We are here for computing all sorts of results that you want to predict before and during the match</p>
			</div>



	<div class="container">
	  <div class="col area-right p1">
		  <a class ="xyz" href={% url 'prematch' %}><h5>RESULT BEFORE TOSS</h5></a>
	  	<p class="para-w3-agile">Dive into the future with our enhanced Machine Learning and Artificial
			Intelligence Technology to predict the outcome of the match of your favourite teams even before its toss!</p>>
	  </div>

	  <div class="col area-right p2">
		  <a class ="xyz" href={% url 'first_inn' %}><h5>TARGET PREDICTION</h5></a>
	  	<p class="para-w3-agile">Use our very advanced Machine Learning Technology
	  		 to predict how much the batting team will score at the end of their innings given a few details of the
	  		 match's current scenario.</p>
	  </div>

	 <div class="col area-right p3">
		   <a class ="xyz" href={% url 'second_inn' %}><h5>WILL THEY CHASE IT?</h5></a>
	  	<p class="para-w3-agile">We present to you a very sophisticated Machine Learning Technology
	  		 which predicts how the chasing team will perform at the end of their innings given a few details of the
	  		 2nd inning's current scenario.</p>
	  </div>

	  <!-- <div class="col area-right p4">
		  <a class ="xyz" href={% url 'second_inn' %}><h5>PLAYER PERFORMANCE PREDICTION</h5></a>
	  	<p class="para-w3-agile">Phasellus sed iaculis nibh, non suscipit tortor. Aenean ante massa, lobortis et dolor eget, sollicitudin luctus arcu.
	  		Donec eros tortor, ultrices in lectus quis, aliquet commodo lectus.</p>
	  </div> -->
	</div>
	</div> </div>




	<!-- //Latest News -->
	<!-- wthree-mid -->
	<div class="wthree-mid jarallax">
		<div class="container">
			<h3>Indian Premier League</h3>
			<p>The Indian Premier League is one of the most anticipated and interesting cricket tournaments in the world.</p>
			<div class="botton">
				<a href="http://www.iplt20.com/" target="_blank">Visit IPL's Ofiicial Website</a>
			</div>
		</div>
	</div>
<!-- //wthree-mid -->
	<!-- pricing -->
	<div class="w3ls-section wthree-pricing" id="pricing">
		<div class="container">
			<div class="wthree_head_section">
				<h3 class="w3l_header">IPL <span>Battlefield</span></h3>
				<p>The Indian Premier League is no less than a battlefield where each each army is their
				claim their victory. Here, we list the eight teams with some of their star players
				 that will compete in this year's IPL Edition.</p>
			</div>
			<div class="pricing-grids-info">

								<div class="pricing-grid grid-one">
									<div class="w3ls-top">
										<h3>Mumbai Indians</h3>
									</div>
									<div class="w3ls-bottom">
										<ul class="count">
											<li>Rohit Sharma (c)</li>
											<li>Kieron Pollard</li>
											<li>Hardik Pandya</li>
											<li>J.P Duminy</li>
											<li>Mustafizur Rehman</li>
											<li>Pat Cummins</li>
										</ul>
										<!-- <h4> 350<span class="sup">$</span> </h4> -->
										<div class="more">
											<a href="http://www.mumbaiindians.com/" target="_blank">View Website</a>
										</div>
									</div>
								</div>


								<div class="pricing-grid grid-two">
									<div class="w3ls-top">
										<h3>Rajasthan Royals</h3>
									</div>
									<div class="w3ls-bottom">
										<ul class="count">
											<li>Steve Smith (c)</li>
											<li>Ben Stokes</li>
											<li>Ajinkya Rahane</li>
											<li>Jos Buttler</li>
											<li>Sanju Samson</li>
											<li>Stuart Binny</li>
										</ul>
										<!-- <h4> 500<span class="sup">$</span> </h4> -->
										<div class="more">
											<a href="https://www.rajasthanroyals.com/" target="_blank">View Website</a>
										</div>
									</div>
								</div>



								<div class="zb pricing-grid grid-three">
									<div class="w3ls-top">
										<h3>Delhi Daredevils</h3>
									</div>
									<div class="w3ls-bottom">
										<ul class="count">
											<li>Gautam Gambhir (c)</li>
											<li>Jason Roy</li>
											<li>Glenn Maxwell</li>
											<li>Chris Morris</li>
											<li>Trent Boult</li>
											<li>Kagiso Rabada</li>
										</ul>
										<!-- <h4> 800<span class="sup">$</span> </h4> -->
										<div class="more">
											<a href="http://www.delhidaredevils.com/" target="_blank">View Website</a>
										</div>
									</div>
								</div>



								<div class="zb pricing-grid grid-four">
									<div class="w3ls-top">
										<h3>Kings XI Punjab</h3>
									</div>
									<div class="w3ls-bottom">
										<ul class="count">
											<li>Ravinchandran Ashwin (c)</li>
											<li>Chris Gayle</li>
											<li>David Miller</li>
											<li>Yuvraj Singh</li>
											<li>Aaron Finch</li>
											<li>Manoj Tiwary</li>
										</ul>
										<!-- <h4> 800<span class="sup">$</span> </h4> -->
										<div class="more">
											<a href="https://www.kxip.in/" target="_blank">View Website</a>
										</div>
									</div>
								</div>
								<div class="clearfix"> </div>
				<!--End-slider-script-->
			</div>
		</div>
	</div>



	<div class="w3ls-section wthree-pricing" id="pricing">
		<div class="container">
			<div class="pricing-grids-info">


				<div class="pricing-grid grid-one">
					<div class="w3ls-top">
						<h3>Chennai Super Kings</h3>
					</div>
					<div class="w3ls-bottom">
						<ul class="count">
							<li>M.S. Dhoni (c)</li>
							<li>Imran Tahir</li>
							<li>Dwayne Bravo</li>
							<li>Suresh Raina</li>
							<li>Shane Watson</li>
							<li>Faf du Plessis</li>
						</ul>
						<!-- <h4> 200<span class="sup">$</span> </h4> -->
						<div class="more">
							<a href="https://www.chennaisuperkings.com/" target="_blank">View Website</a>
						</div>
					</div>
				</div>




								<div class="pricing-grid grid-two">
									<div class="w3ls-top">
										<h3>Kolkata Knight Riders</h3>
									</div>
									<div class="w3ls-bottom">
										<ul class="count">
											<li>Dinesh Karthik (c)</li>
											<li>Mitchell Starc</li>
											<li>Robin Uthappa</li>
											<li>Sunil Narine</li>
											<li>Andre Russel</li>
											<li>Mitchell Johnson</li>
										</ul>
										<!-- <h4> 200<span class="sup">$</span> </h4> -->
										<div class="more">
											<a href="http://www.kkr.in/" target="_blank">View Website</a>
										</div>
									</div>
								</div>
								<div class="pricing-grid grid-three">
									<div class="w3ls-top">
										<h3>Sunrisers Hyderabad</h3>
									</div>
									<div class="w3ls-bottom">
										<ul class="count">
											<li>David Warner (c)</li>
											<li>Shikhar Dhawan</li>
											<li>Shakib Al Hasan</li>
											<li>Bhuvneshwar Kumar</li>
											<li>Kane Williamson</li>
											<li>Yusuf Pathan</li>
										</ul>
										<!-- <h4> 350<span class="sup">$</span> </h4> -->
										<div class="more">
											<a href="http://www.sunrisershyderabad.in/" target="_blank">View Website</a>
										</div>
									</div>
								</div>



								<div class="pricing-grid grid-four">
									<div class="w3ls-top">
										<h3>Royal Challengers Bangalore</h3>
									</div>
									<div class="w3ls-bottom">
										<ul class="count">
											<li>Virat Kohli (c)</li>
											<li>A.B de Villiers</li>
											<li>Brendon McCullum</li>
											<li>Tim Southee</li>
											<li>Quinton de Kock</li>

										</ul>
										<!-- <h4> 500<span class="sup">$</span> </h4> -->
										<div class="more">
											<a href="https://www.royalchallengers.com/" target="_blank">View Website</a>
										</div>
									</div>
								</div>







								<div class="clearfix"> </div>
				<!--End-slider-script-->
			</div>
		</div>
	</div>
	<!--//pricing-->
<!-- counter -->
	<div class="services-bottom stats services jarallax">
	<div class="banner-dott1">
		<div class="container">
		<div class="wthree_head_section">
				<h3 class="w3l_header two">IPL <span>Statistics</span></h3>
				<p class="tho">The Indian Premier League has been
					widely associated with miracles happening every season
					. Here, we present to you some of the conceivable highlights of the IPL from its
				very beginning in 2008.</p>
			</div>
		  <div class="wthree-agile-counter">
		  <div class="col-md-3 w3_agile_stats_grid-top">
			<div class="w3_agile_stats_grid">
				<div class="agile_count_grid_left">
				<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
				</div>
				<div class="agile_count_grid_right">
					<p class="counter">5164</p>
				</div>
				<div class="clearfix"> </div>
				<h4>Sixes</h4>
			</div>
		</div>
		<div class="col-md-3 w3_agile_stats_grid-top">
			<div class="w3_agile_stats_grid">
				<div class="agile_count_grid_left">
					<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
				</div>
				<div class="agile_count_grid_right">
					<p class="counter">263</p>
				</div>
				<div class="clearfix"> </div>
				<h4>Highest Team Total</h4>
			</div>
		</div>
		<div class="col-md-3 w3_agile_stats_grid-top">
			<div class="w3_agile_stats_grid">
				<div class="agile_count_grid_left">
					<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
				</div>
				<div class="agile_count_grid_right">
					<p class="counter">36</p>
				</div>
				<div class="clearfix"> </div>
				<h4>Most Expensive Over</h4>
			</div>
		</div>
		<div class="col-md-3 w3_agile_stats_grid-top">
			<div class="w3_agile_stats_grid">
				<div class="agile_count_grid_left">
					<span class="fa fa-trophy" aria-hidden="true"></span>
				</div>
				<div class="agile_count_grid_right">
					<p class="counter">154</p>
				</div>
				<div class="clearfix"> </div>
				<h4>Maximum Individual Wickets Taken</h4>
			</div>
		</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	</div>
</div>
<!-- //counter -->
	<!-- Clients -->

	<!--// Clients -->
	<!-- footer -->
	<div class="footer">
	<div class="container">
		<div class="f-bg-w3l">
		<div class="col-md-4 w3layouts_footer_grid">
					<h2>Contact <span>Information</span></h2>
					    <ul class="con_inner_text">
							<li><span class="fa fa-map-marker" aria-hidden="true"></span>Hall-12, IIT Kanpur <label> U.P, India</label></li>
							<li><span class="fa fa-envelope-o" aria-hidden="true"></span> <a href="mailto:devanshu@iitk.ac.in">devanshu@iitk.ac.in</a></li>
							<li><span class="fa fa-envelope-o" aria-hidden="true"></span> <a href="mailto:akashish@iitk.ac.in">akashish@iitk.ac.in</a></li>
							<li><span class="fa fa-envelope-o" aria-hidden="true"></span> <a href="mailto:rjkunal@iitk.ac.in">rjkunal@iitk.ac.in</a></li>
							<li><span class="fa fa-phone" aria-hidden="true"></span> +91 96607 24660</li>
						</ul>

					<ul class="social_agileinfo">
						<li><a href="https://www.facebook.com/ashish.k.jaiswal21" class="w3_facebook"><i class="fa fa-facebook"></i></a></li>
						<li><a href="https://twitter.com/iamrjkunal" class="w3_twitter"><i class="fa fa-twitter"></i></a></li>
						<li><a href="https://www.instagram.com/devanshusomani/" class="w3_instagram"><i class="fa fa-instagram"></i></a></li>
						<li><a href="https://plus.google.com/109386964403188731935" class="w3_google"><i class="fa fa-google-plus"></i></a></li>
					</ul>
				</div>
				<div class="col-md-4 w3layouts_footer_grid">
					<h2>Subscribe <span>Newsletter</span></h2>
					<p>By subscribing to our mailing list you will always get latest news from us.</p>
					<form action="#" method="post">
						<input type="email" name="Email" placeholder="Enter your email..." required="">
						<button class="btn1"><i class="fa fa-envelope-o" aria-hidden="true"></i></button>
						<div class="clearfix"> </div>
					</form>
				</div>
				<div class="col-md-4 w3layouts_footer_grid">
					<h3>Recent <span>Works</span></h3>
					  <ul class="con_inner_text midimg">
						<li><a href="#"><img src="{% static 'images/p2.jpg' %}" alt="" class="img-responsive" /></a></li>
					    <li><a href="#"><img src="{% static 'images/p3.jpg' %}" alt="" class="img-responsive" /></a></li>
						<li><a href="#"><img src="{% static 'images/p4.jpg' %}" alt="" class="img-responsive" /></a></li>
						<li><a href="#"><img src="{% static 'images/p5.jpg' %}" alt="" class="img-responsive" /></a></li>
						<li><a href="#"><img src="{% static 'images/p6.jpg' %}" alt="" class="img-responsive" /></a></li>
					    <li><a href="#"><img src="{% static 'images/p7.jpg' %}" alt="" class="img-responsive" /></a></li>
						 <li><a href="#"><img src="{% static 'images/p8.jpg' %}" alt="" class="img-responsive" /></a></li>
						<li><a href="#"><img src="{% static 'images/p9.jpg' %}" alt="" class="img-responsive" /></a></li>
				     </ul>

				</div>
				<div class="clearfix"> </div>
			</div>
			</div>
			<p class="copyright">© 2018 4th Umpire. All Rights Reserved</p>
	</div>
	<!-- //footer -->

	<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!-- //smooth scrolling -->
	<script type='text/javascript' src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
	<!-- start-smoth-scrolling -->
	<script src="{% static 'js/jarallax.js' %}"></script>
	<script type="text/javascript">
		/* init Jarallax */
		$('.jarallax').jarallax({
			speed: 0.5,
			imgWidth: 1366,
			imgHeight: 768
		})
	</script>
	<!-- flexSlider -->
				<script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
				<script type="text/javascript">
					$(window).load(function(){
					  $('.flexslider').flexslider({
						animation: "slide",
						start: function(slider){
						  $('body').removeClass('loading');
						}
					  });
					});
				</script>
<!-- //flexSlider -->

	<!-- Owl-Carousel-JavaScript -->
	<script src="{% static 'js/owl.carousel.js' %}"></script>
	<script>
		$(document).ready(function () {
			$("#owl-demo").owlCarousel({
				items: 2,
				lazyLoad: true,
				autoPlay: false,
				pagination: true,
			});
		});
	</script>
	<!-- //Owl-Carousel-JavaScript -->
	<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //here ends scrolling icon -->

	<!-- stats -->
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<script src="{% static 'js/jquery.countup.js' %}"></script>
		<script>
			$('.counter').countUp();
		</script>
<!-- //stats -->

	<!--js for bootstrap working-->
	<script src="{% static 'js/bootstrap.js' %}"></script>
	<!-- //for bootstrap working -->
</body>
</html>
